<% include header %>

<% if (profil == undefined) { %>
	<div class="ui negative message">
		<i class="close icon"></i>
		<div class="header">
			YOU DON'T HAVE ANY MATCH..
		</div>
	</div>
	<% } else { %>
			<% profil.forEach(function(element) { %>
				<% var fname = element["fname"] %>
				<% var lname = element["lname"] %>
				<% var gender = element["gender"] %>
				<% var age = element["age"] %>
				<% var sumup = element["sumup"] %>
				<% var login = element["login"] %>
				<% var pic = element["profpic"] %>
				
			<% }) %>
		<% } %>
		<% include footer %>